<h2>Rules</h2>

<ul>
  <li>Players have three minutes (shown by the countdown timer) to find as many words as they can in the grid, according to the following rules:</li>
  <li>The letters must be adjoining in a 'chain'.</li>
  <li>Words must contain at least three letters.</li>
  <li>No letter cube may be used more than once within a single word.</li>
</ul>